@{
    ViewBag.Title = "تایید ایمیل";
}

<div>
    <h1 class="text-success text-center">تبریک</h1>
    <h3 class="text-info text-center">حساب شما تایید شد!</h3>
    <h4 class="text-primary text-center">@Html.ActionLink("صفحه ورود", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h4>
</div>
