@{
    ViewBag.Title = "ارسال ایمیل تاییده";
}
<hr />
<div>
    <h2 class="text-center text-info">لطفا حساب خود را تایید کنید!</h2>
    <h4 class="text-center text-success">لینک تاییده برای شما ایمیل شد!</h4>
</div>
