
@{
    ViewBag.Title = "تغییر گذرواژه";
}

<hr />
<div class="panel">
    <div class="panel-heading text-center border_Title_Basket">
        تغییر گذرواژه
    </div>
    <hr />
    <div class="panel-body">
        @if (ViewData["Message"] != null)
        {
            <div class="panel panel-heading panel-success" style="background-color:yellowgreen; color : #fff;">
                @ViewData["Message"]
            </div>
        }
        <form action="/Panel/ChangePassword" method="post" class="form-inline">
            @Html.AntiForgeryToken()

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        گذرواژه فعلی : 
                    </dt>
                    <dd>
                        <input type="password" name="CurrentPassword" class="form-control" />
                    </dd>
                    <dt>
                        گذر واژه جدید :
                    </dt>
                    <dd>
                        <input type="password" name="NewPassword" class="form-control" />
                    </dd>
                    <dt>
                        تایید گذرواژه جدید :
                    </dt>
                    <dd>
                        <input type="password" name="NewPasswordConfirm" class="form-control" />
                    </dd>
                    <dd>
                        <br />
                    </dd>
                    <dd>
                        <input type="submit" value="تغییر گذرواژه" class="btn btn-success btn-lg" />
                    </dd>
                </dl>
                
            </div>
            
        </form>
    </div>
</div>

