@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "خطا";
}

<hgroup>
    <h1 class="text-danger">حساب کاربری قفل شده است.</h1>
    <h2 class="text-danger">حساب کاربری شما قفل شده است،بعدا تلاش کنید!</h2>
</hgroup>
